<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ignoreChar" value="818\r\n,78a\r\n,6e5\r\n,f9c\r\n,465\r\n"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
